<div class="row">
  <div class="col s12 m4">
    <h1 class="main-title teal-text text-darken-4">Burgers</h1>
    {{#each burger}} 
      {{#unless this.devoured}}
        <div class="card-panel">
          <span class="black-text">
            <form action="/?_method=PUT" method="POST">
              <input type="hidden" name="id" value="{{id}}">
              <input type="hidden" name="devoured" value="1">
              <button type="submit" class="waves-effect waves-light btn float-right">Devour</button>
            </form>
            {{burger_name}}
          </span><!--/.blac-text -->
        </div><!--/.card-panel -->  
      {{/unless}} 
    {{/each}}
  </div><!--/.col -->

  <div class="col s12 m4 push-m4">
    <h1 class="main-title teal-text text-darken-4">Burgers Devoured</h1>
    {{#each burger}} 
      {{#if this.devoured}}
        <div class="card-panel">
          <span class="black-text">
            {{burger_name}}
          </span><!--/.blac-text -->
        </div><!--/.card-panel -->  
      {{/if}}
    {{/each}}
  </div><!--/.col -->
</div><!--/.row -->

<div class="card-panel">
  <span class="black-text">
    <form action="/" method="POST">
      <input type="text" name="burger" class="grey lighten-2">
      <button type="submit">Add Burger</button>
    </form>
  </span><!--/.blac-text -->
</div><!--/.card-panel -->  